.ews-dialog {
    background: rgba(27,27,27,1);
    border: 1px solid #0cf;
    border-radius: 6px;
    z-index: 1100;
    font-size: 10pt;
    color: #eee;
}

.ews-dialog a.ews-close-window {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 100
}

.ews-dialog .ewsPanelHeader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    height: 30px;
    overflow: hidden
}

.ews-dialog .ewsPanelContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    padding: 10px;
    overflow: auto;
    border-top: 1px solid #333
}

.ews-dialog button {
    font-size: 12pt;
    padding: 2px 6px
}

.ews-dialog .ews-table {
    background: 0 0
}

.ews-dialog .ui-dialog-title {
    font-size: 1.5em;
    font-weight: bold;
}

.ui-dialog-titlebar-close {
    background-image: url(close.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.ui-dialog-titlebar-close:focus {
    outline: none !important;
}
