#ewsPanel {
    display: none;
    z-index: 2000;
    background-color: #232323;
}

#worldMap {
  height: 400px;
}

.jvectormap-tip {
  z-index: 2005;
}

#chartWrapper {
  width: 100%;
}

#chartFixedWrapper {
  height: 230px;
  width: 460px;
  text-align: right;
  margin-left: auto;
}

#chartCenterLabel {
  bottom: 150px;
  text-align: center;
  margin-left: auto;
  width: 320px;
  position: relative;
}

#chartCenterLabel span {
    font-size: 2em;
}

.ews-dialog {
    background: rgba(27,27,27,1);
    border: 1px solid #0cf;
    border-radius: 6px;
    z-index: 1100;
    font-size: 10pt;
    color: #eee;
}

.ews-dialog a.ews-close-window {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 100
}

.ews-dialog .ewsPanelHeader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    height: 30px;
    overflow: hidden
}

.ews-dialog .ewsPanelContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    padding: 10px;
    overflow: auto;
    border-top: 1px solid #333
}

.ews-dialog button {
    font-size: 12pt;
    padding: 2px 6px
}

.ews-dialog .ews-table {
    background: 0 0
}

.ews-dialog .ui-dialog-title {
    font-size: 1.5em;
    font-weight: bold;
}

.ui-dialog-titlebar-close {
    background-image: url(close.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    vertical-align: middle; /* align the text vertically centered */
}

.ui-dialog-titlebar-close:focus {
    outline: none !important;
}

.leaderTime2 {
    text-align: center;
    margin-bottom: 7px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.leaderTime2 div:first-child {
    margin-left: 0;
}

.minimalButton2 {
    cursor: pointer;
    border: 1px solid rgba(60,60,60,.83);
    padding: 7px;
    border-radius: 2px;
    font-size: 13px;
    color: #e4e1e1;
    letter-spacing: .5px;
    font-weight: 400;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: background-color .1s ease-in-out,border-color .1s ease-in-out,color .1s ease-in-out;
}

.minimalButton2.selected {
    background-color: rgba(54,121,165,.8);
}
